.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  flex-direction: column;
  gap: 2px;
}

.dropdown:hover .dropdown-content {
  display: flex;
}
